.logo{
    height: 50px;
}
nav{
    width: 100%;
    line-height:40px;
    background-color: black;
    text-align: right;
}
nav a{
    text-decoration: none;
    font-size:16px;
    color:white;
    padding: 5px;
    margin: 5px;
}
nav a:hover{
    color:hotpink;
}
.search{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100% );
    color: #fff;
    line-height: 50px;
}
.search input{
    width: 50%;
    margin-left: 300px;
    border: none;
    border-radius: 8px;
    padding: 7px 20px;
}
.searchBtn{
    background-image: linear-gradient(to bottom, #000 0%, #FF136F 100% );
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 7px 20px;
    cursor: pointer;
}
figure{
    text-align:center;
}